## Basic Pandas Library Toolkit: Basic Techniques for Working with DataFrame Objects.

## Базовый инструментарий библиотеки Pandas: простейшие приемы работы с объектами DataFrame.

---

### Step №1. Create a text file containing information about the results of the last session of one of the courses in the direction "Information systems and technologies". The following information should be stored for each student: full name, group number, grade book number, grades received during the session (the number of disciplines is 4). The file must also contain the headers of the corresponding columns. Full name, grade book numbers and discipline names can be set arbitrarily; select the delimiter character at your own discretion. The file must contain at least 10 entries. The absence of grades in some disciplines from individual students is allowed.

### Этап №1. Создать текстовый файл, содержащий информацию о результатах последней сессии одного из курсов направления «Информационные системы и технологии». По каждому студенту должна храниться следующая информация: ФИО, номер группы, номер зачетной книжки, оценки, полученные во время сессии (число дисциплин равно 4). В файле должны быть также заголовки соответствующих столбцов. ФИО, номера зачетных книжек и названия дисциплин можно задать произвольно; символ разделителя выбрать по собственному усмотрению. В файле должно быть не менее 10 записей. Допускается отсутствие оценок по некоторым дисциплинам у отдельных студентов.

In [1]:
import pandas as pd
df = pd.read_csv('lab_01_dataset.txt', sep='\t', header=0, encoding = 'UTF-8')
df

                          ФИО №груп  №зачет  РКЧИС  СМАД  МПОД  ИЯАЦ
0    Гаврилов Мирон Андреевич     A     101      4     3     4     5
1  Дубинин Тимофей Максимович     B     102      5     5     3     5
2      Макеев Илья Максимович     A     103      5     5     4     5
3        Морозов Иван Никитич     B     104      4     4     5     5
4     Панов Андрей Алексеевич     A     105      5     5     3     3
5      Сухарева Ева Елисеевна     B     106      3     2     4     2
6    Федорова Ульяна Глебовна     A     107      3     5     4     5
7         Чижова Мия Ивановна     B     108      3     4     4     3
8     Гусева Ксения Антоновна     A     109      2     2     3     2
9  Голашвили Дариан Вадимович     B     110      5     5     5     5

---

### Step №2. Using the toolkit of the Pandas library, organize the import of data from the created file into the DataFrame object. Print the first 5 lines (to check the correctness of the data transfer), as well as the dimension of the received frame.

### Этап №2. Используя инструментарий библиотеки Pandas, организовать импорт данных из созданного файла в объект DataFrame. Вывести первые 5 строк (для проверки корректности передачи данных), а также размерность полученного фрейма.

In [2]:
df.head(5)

                          ФИО №груп  №зачет  РКЧИС  СМАД  МПОД  ИЯАЦ
0    Гаврилов Мирон Андреевич     A     101      4     3     4     5
1  Дубинин Тимофей Максимович     B     102      5     5     3     5
2      Макеев Илья Максимович     A     103      5     5     4     5
3        Морозов Иван Никитич     B     104      4     4     5     5
4     Панов Андрей Алексеевич     A     105      5     5     3     3

---

### Step №3. Add two new lines to the frame: information about the student Oleg Alekseevich Vasiliev, who received a grade of "3" in one of the disciplines (there are no grades for the rest of the disciplines) and about Alexander Nikolayevich Lovtsov, who does not have an assessment in one of the disciplines (fill in the rest of the grades arbitrarily). The numbers of the grade books for these students should be considered unknown (no values). Print the resulting frame and make sure that the lines were actually added.

### Этап №3. Добавить во фрейм две новые строки: информацию о студенте Васильеве Олеге Алексеевиче, который получил оценку «3» по одной из дисциплин (по остальным дисциплинам оценки отсутствуют) и о Ловцове Александре Николаевиче, не имеющем оценки по одной из дисциплин (остальные оценки заполнить произвольно). Номера зачетных книжек у этих студентов считать неизвестными (значения отсутствуют). Вывести полученный фрейм и убедиться, что строки действительно добавились.

In [3]:
# understand that "new_line" is a dictionary

new_line = {'ФИО':'Васильев Олег Алексеевич', '№груп':'A', 'РКЧИС':'3'}
df = df.append(new_line, ignore_index=True)
new_line = {'ФИО':'Ловцов Александр Николаевич', '№груп':'B', 'СМАД':'4', 'МПОД':'3', 'ИЯАЦ':'5'}
df = df.append(new_line, ignore_index=True)
df

                            ФИО №груп  №зачет РКЧИС СМАД МПОД ИЯАЦ
0      Гаврилов Мирон Андреевич     A   101.0     4  3.0  4.0  5.0
1    Дубинин Тимофей Максимович     B   102.0     5  5.0  3.0  5.0
2        Макеев Илья Максимович     A   103.0     5  5.0  4.0  5.0
3          Морозов Иван Никитич     B   104.0     4  4.0  5.0  5.0
4       Панов Андрей Алексеевич     A   105.0     5  5.0  3.0  3.0
5        Сухарева Ева Елисеевна     B   106.0     3  2.0  4.0  2.0
6      Федорова Ульяна Глебовна     A   107.0     3  5.0  4.0  5.0
7           Чижова Мия Ивановна     B   108.0     3  4.0  4.0  3.0
8       Гусева Ксения Антоновна     A   109.0     2  2.0  3.0  2.0
9    Голашвили Дариан Вадимович     B   110.0     5  5.0  5.0  5.0
10     Васильев Олег Алексеевич     A     NaN     3  NaN  NaN  NaN
11  Ловцов Александр Николаевич     B     NaN   NaN    4    3    5

---

### Step №4. Fill in all the missing grades for all students with the value "2". Display the modified frame and check the result.

### Этап №4. Заполнить у всех студентов все отсутствующие оценки значением «2». Вывести измененный фрейм и проконтролировать результат.

In [4]:
# understand the meaning of inplace=True/False

df.РКЧИС.fillna(2, inplace=True)
df.СМАД.fillna(2, inplace=True)
df.МПОД.fillna(2, inplace=True)
df.ИЯАЦ.fillna(2, inplace=True)
df

                            ФИО №груп  №зачет РКЧИС СМАД МПОД ИЯАЦ
0      Гаврилов Мирон Андреевич     A   101.0     4  3.0  4.0  5.0
1    Дубинин Тимофей Максимович     B   102.0     5  5.0  3.0  5.0
2        Макеев Илья Максимович     A   103.0     5  5.0  4.0  5.0
3          Морозов Иван Никитич     B   104.0     4  4.0  5.0  5.0
4       Панов Андрей Алексеевич     A   105.0     5  5.0  3.0  3.0
5        Сухарева Ева Елисеевна     B   106.0     3  2.0  4.0  2.0
6      Федорова Ульяна Глебовна     A   107.0     3  5.0  4.0  5.0
7           Чижова Мия Ивановна     B   108.0     3  4.0  4.0  3.0
8       Гусева Ксения Антоновна     A   109.0     2  2.0  3.0  2.0
9    Голашвили Дариан Вадимович     B   110.0     5  5.0  5.0  5.0
10     Васильев Олег Алексеевич     A     NaN     3    2    2    2
11  Ловцов Александр Николаевич     B     NaN     2    4    3    5

---

### Step №5. Add a new column to the frame containing information about the average score of each student for the current session. Display the modified frame and check the result.

### Этап №5. Добавить во фрейм новый столбец, содержащий информацию о среднем балле каждого студента за текущую сессию. Вывести измененный фрейм и проконтролировать результат.

In [5]:
df["РКЧИС"] = pd.to_numeric(df["РКЧИС"])
df["СМАД"] = pd.to_numeric(df["СМАД"])
df["МПОД"] = pd.to_numeric(df["МПОД"])
df["ИЯАЦ"] = pd.to_numeric(df["ИЯАЦ"])

selected = df[['РКЧИС', 'СМАД', 'МПОД', 'ИЯАЦ']]
df['AVG'] = selected.mean(axis='columns')
df

                            ФИО №груп  №зачет  РКЧИС  СМАД  МПОД  ИЯАЦ   AVG
0      Гаврилов Мирон Андреевич     A   101.0      4   3.0   4.0   5.0  4.00
1    Дубинин Тимофей Максимович     B   102.0      5   5.0   3.0   5.0  4.50
2        Макеев Илья Максимович     A   103.0      5   5.0   4.0   5.0  4.75
3          Морозов Иван Никитич     B   104.0      4   4.0   5.0   5.0  4.50
4       Панов Андрей Алексеевич     A   105.0      5   5.0   3.0   3.0  4.00
5        Сухарева Ева Елисеевна     B   106.0      3   2.0   4.0   2.0  2.75
6      Федорова Ульяна Глебовна     A   107.0      3   5.0   4.0   5.0  4.25
7           Чижова Мия Ивановна     B   108.0      3   4.0   4.0   3.0  3.50
8       Гусева Ксения Антоновна     A   109.0      2   2.0   3.0   2.0  2.25
9    Голашвили Дариан Вадимович     B   110.0      5   5.0   5.0   5.0  5.00
10     Васильев Олег Алексеевич     A     NaN      3   2.0   2.0   2.0  2.25
11  Ловцов Александр Николаевич     B     NaN      2   4.0   3.0   5.0  3.50

---

### Step №6. Display only columns with information about full name and received grades (do not display other columns).

### Этап №6. Вывести только столбцы с информацией о ФИО и полученных оценках (остальные столбцы не выводить).

In [6]:
df[['ФИО','РКЧИС', 'СМАД', 'МПОД', 'ИЯАЦ','AVG']]

                            ФИО  РКЧИС  СМАД  МПОД  ИЯАЦ   AVG
0      Гаврилов Мирон Андреевич      4   3.0   4.0   5.0  4.00
1    Дубинин Тимофей Максимович      5   5.0   3.0   5.0  4.50
2        Макеев Илья Максимович      5   5.0   4.0   5.0  4.75
3          Морозов Иван Никитич      4   4.0   5.0   5.0  4.50
4       Панов Андрей Алексеевич      5   5.0   3.0   3.0  4.00
5        Сухарева Ева Елисеевна      3   2.0   4.0   2.0  2.75
6      Федорова Ульяна Глебовна      3   5.0   4.0   5.0  4.25
7           Чижова Мия Ивановна      3   4.0   4.0   3.0  3.50
8       Гусева Ксения Антоновна      2   2.0   3.0   2.0  2.25
9    Голашвили Дариан Вадимович      5   5.0   5.0   5.0  5.00
10     Васильев Олег Алексеевич      3   2.0   2.0   2.0  2.25
11  Ловцов Александр Николаевич      2   4.0   3.0   5.0  3.50

---

### Step №7. Display information for each group in separate tables.

### Этап №7. Вывести информацию по каждой группе отдельными таблицами.

In [7]:
# split students based on different groups

groupList = df['№груп'].unique()
print(groupList)

['A' 'B']

In [8]:
groupA = df.loc[df['№груп'] == 'A']
groupB = df.loc[df['№груп'] == 'B']

print("Эта группа А:")
print(groupA)
print("\n","===========================================================================","\n")
print("Эта группа B:")
print(groupB)

Эта группа А:
                         ФИО №груп  №зачет  РКЧИС  СМАД  МПОД  ИЯАЦ   AVG
0   Гаврилов Мирон Андреевич     A   101.0      4   3.0   4.0   5.0  4.00
2     Макеев Илья Максимович     A   103.0      5   5.0   4.0   5.0  4.75
4    Панов Андрей Алексеевич     A   105.0      5   5.0   3.0   3.0  4.00
6   Федорова Ульяна Глебовна     A   107.0      3   5.0   4.0   5.0  4.25
8    Гусева Ксения Антоновна     A   109.0      2   2.0   3.0   2.0  2.25
10  Васильев Олег Алексеевич     A     NaN      3   2.0   2.0   2.0  2.25

 ===========================================================================

Эта группа B:
                            ФИО №груп  №зачет  РКЧИС  СМАД  МПОД  ИЯАЦ   AVG
1    Дубинин Тимофей Максимович     B   102.0      5   5.0   3.0   5.0  4.50
3          Морозов Иван Никитич     B   104.0      4   4.0   5.0   5.0  4.50
5        Сухарева Ева Елисеевна     B   106.0      3   2.0   4.0   2.0  2.75
7           Чижова Мия Ивановна     B   108.0      3   4.0   4.0   3.0  3.50
9    Голашвили Дариан Вадимович     B   110.0      5   5.0   5.0   5.0  5.00
11  Ловцов Александр Николаевич     B     NaN      2   4.0   3.0   5.0  3.50

In [9]:
# another way to display information for each group in separate tables:

# groupList = df['№груп'].unique()
# for i in groupList:
#    df = df.loc[df['№груп'] == i]
#    display(df)
#    print()

---

### Step №8. Remove from the frame information about students who do not have any positive marks (expulsion). Print the resulting frame and verify that the lines were indeed deleted.

### Этап №8. Удалить из фрейма информацию о студентах, не имеющих ни одной положительной оценки (отчисление). Вывести полученный фрейм и убедиться, что строки действительно удалились.

In [10]:
# dropping should be done based on an equation evaluating the AVG and not just judging by eye

# удалить студентов при условии, что средний балл меньше 3
# remove rows of students provided the GPA is less than 3

listfail = df[ df['AVG'] < 3 ]
fail = df[ df['AVG'] < 3 ].index
print(fail)

Int64Index([5, 8, 10], dtype='int64')

In [11]:
df.drop(fail, inplace = True)
df

                            ФИО №груп  №зачет  РКЧИС  СМАД  МПОД  ИЯАЦ   AVG
0      Гаврилов Мирон Андреевич     A   101.0      4   3.0   4.0   5.0  4.00
1    Дубинин Тимофей Максимович     B   102.0      5   5.0   3.0   5.0  4.50
2        Макеев Илья Максимович     A   103.0      5   5.0   4.0   5.0  4.75
3          Морозов Иван Никитич     B   104.0      4   4.0   5.0   5.0  4.50
4       Панов Андрей Алексеевич     A   105.0      5   5.0   3.0   3.0  4.00
6      Федорова Ульяна Глебовна     A   107.0      3   5.0   4.0   5.0  4.25
7           Чижова Мия Ивановна     B   108.0      3   4.0   4.0   3.0  3.50
9    Голашвили Дариан Вадимович     B   110.0      5   5.0   5.0   5.0  5.00
11  Ловцов Александр Николаевич     B     NaN      2   4.0   3.0   5.0  3.50

---

### Step №9. Display information about the remaining students in arrears. Save this information in a separate frame. Organize the export of information about debtors to a text file.

### Этап №9. Вывести информацию об оставшихся студентах, имеющих задолжности. Сохранить эту информацию в отдельном фрейме. Организовать экспорт информации о задолжниках в текстовый файл.

In [12]:
print(listfail)

                         ФИО №груп  №зачет  РКЧИС  СМАД  МПОД  ИЯАЦ   AVG
5     Сухарева Ева Елисеевна     B   106.0      3   2.0   4.0   2.0  2.75
8    Гусева Ксения Антоновна     A   109.0      2   2.0   3.0   2.0  2.25
10  Васильев Олег Алексеевич     A     NaN      3   2.0   2.0   2.0  2.25

In [13]:
df.to_csv('lab_01_dataset_export.csv', encoding='utf-8')